@model School.ViewModel.StudentsVM
@{
    string formName = ViewBag.FormName;
}
@using (Ajax.BeginForm(formName,
   new AjaxOptions { OnSuccess = "onSuccess", OnFailure = "onFailure" }))
{
    <div class="form-group col-md-4 col-sm-4 col-xs-12">
        @Html.LabelFor(z => z.Name, new { @class = "form-label" })
        @Html.TextBoxFor(z => z.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(z => z.Name)
    </div>
    <div class="form-group col-md-4 col-sm-4 col-xs-12">
        @Html.LabelFor(z => z.TeacherFK, new { @class = "form-label" })
        @Html.DropDownListFor(z => z.TeacherFK,
                     new SelectList(new School.DAL.TeacherDAL().GetAll(),
                     "ID", "Name"),
                     new { @class = "form-control" })
        @Html.ValidationMessageFor(z => z.TeacherFK)
    </div>
    if (formName == "Edit")
    {
        @Html.HiddenFor(z => z.ID)

        <button class="btn btn-primary" type="submit">Edit</button>
    }
    else if (formName == "AddStudentForm")
    {
        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-danger" type="reset">Clear</button>
    }

}
