@model List<School.DAL.TeacherStudnetsSubjects>
@if (Model.Any())
{
    <table class="table table-striped">
        <caption style="text-align:center;">Teachers, Students and Subjects</caption>
        <thead>
            <tr>
                <th>Teacher</th>
                <th>Students and Scubjects</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.teacher.Name</td>
                    <td>
                        @foreach (var its in item.studentSubjects)
                        {
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Studnet</th>
                                        <th>Subjects</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>@its.Student.Name
                                            <button class="btn btn-info" onclick="editStd(@its.Student.ID)">E</button>
                                            <button class="btn btn-danger" onclick="delStd(@its.Student.ID)">D</button>
                                        </th>
                                        <th>
                                            <ul>
                                                @foreach (var i in its.Subjects)
                                                {
                                                    <li>
                                                        @i.Name
                                                        <button class="btn btn-danger" onclick="delStdSub(@its.Student.ID, @i.ID)">D</button>
                                                        <button class="btn btn-info" onclick="editStdSub(@its.Student.ID, @i.ID)">E</button>
                                                    </li>
                                                }
                                            </ul>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </td>
                    <td>
                        <button class="btn btn-primary" onclick="editTeacher(@item.teacher.ID)">Edit</button>
                        <button class="btn btn-danger" onclick="DeleteTeacher(@item.teacher.ID)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<script>
    function del(stdID, subID) {
        $.ajax({
            url: "/Admin/Teacher/DeleteStudnetSubject",
            type: "Get",
            data: {
                id: id
            }
        }).done(function (data) {
            LoadData();
        }).fail(function (data) {
            $('.alert').html('Error in delete');
        });
    }
    function edit(stdID, subID) {

    }

    function editTeacher(id) {
        $.ajax({
            url: "/Admin/Teacher/Edit",
            type: "GET",
            data: {
                id: id
            }
        }).done(function (data) {
            $('#teacher-form').html(data)
            window.scrollTo(0, 0);  // scroll to the top of the page
        }).fail(function (data) {
            alert("Error in getting form.")
        });
    }

    function editStd(id) {
        $.ajax({
            url: "/Admin/Student/Edit",
            type: "GET",
            data: {
                id: id
            }
        }).done(function (data) {
            $('#student-form').html(data)
            window.scrollTo(0, 0);  // scroll to the top of the page
        }).fail(function (data) {
            alert("Error in getting form.")
        });
    }
    function editStdSub(stdID, subID) {
        $.ajax({
            url: "/Admin/StudnetsSubjects/Edit",
            type: "GET",
            data: {
                stdID: stdID,
                subID: subID
            }
        }).done(function (data) {
            $('#student-subject-form').html(data)
            BindSubject();
            window.scrollTo(0, 0);  // scroll to the top of the page
        }).fail(function (data) {
            alert("Error in getting form.")
        });
    }
    function delStd(id) {
        $.ajax({
            url: "/Admin/Student/Delete",
            type: "Get",
            data: {
                id: id
            }
        }).done(function (data) {
            if (data.done) {
                alert("deleted successfully.")
            } else {
                alert(data.message)
            }
            loadData();
        }).fail(function (data) {
            $('.alert').html('Error in delete');
        });
    }
</script>